body{
    background-color: #ccc;
}
.container{
    border:none;
    width: 50%;
    margin: auto;
    align-items: center;
    
    border-radius: 15px;
    padding: 5px 18px;
    background-color: #fff;
    max-width: 480px;
}

img{
    width: 100%;
     padding-bottom: 8px;
    margin-bottom: 3px;
    display: inline;
    margin: auto;
    border-radius: 10px;
    padding-top: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}
@media screen  {
    img{
        width: 100%;
        max-width: 480px;
        
    }
}
.box-1{
    width: 78%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 5px;
    font-family:sans-serif;
    margin: auto;
    
    
    
}
    

p{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
    font-family: tom;
    font-weight: 500;
    padding: 8px 4px;
}
.box-2{
    text-decoration: none;
    text-align: center;

}
.box-2 a{
    text-decoration: none;
    text-align: center;
}